$hopbush: #c69 !default;
$patina: #699 !default;
$venus: #998099 !default;
$nebula: #d2e1dd !default;

$black: #000 !default;
$white: #fff !default;

$track-w: 4.75em;
$track-h: .5em;
$thumb-d: 1.25em;

$btn-disabled-opacity: 0.5 !default;

